<section>
  <div class="container">
    <div class="btn-back">
      <%= link_to root_url, class: "back-icon d-flex align-item-center" do %>
        <%= image_tag 'icon-back.svg', alt: 'back icon' %>
        Back
      <% end %>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="d-flex justify-content-center" id="support-page">
      <div class="support-image-box-left">
        <%= image_tag 'question-left.jpg', alt: 'questions image' %>
      </div>

      <div class="support-box-right" id="question_form_area">
        <%= render 'questions/question_form'%>
      </div>
    </div>
  </div>
</section>

<div id="success_popup_area"></div>
