<section>
  <div class="container">
    <div class="btn-back">
      <%= link_to root_url, class: "back-icon d-flex align-item-center" do %>
        <%= image_tag 'icon-back.svg', alt: 'back icon' %>
        Back
      <% end %>
    </div>
  </div>
</section>
