 <div class="is-modal">
  <div class="modal-block">
    <div class="modal-body modal-body-dark">
      <div class="modal-close-icon">
        <span class="modal-close-icon" data-modal="close">&times;</span>
      </div>
      <p class="heading heading-1 txt-center">BBR</p>
      <p class="heading heading-2 txt-center">
        Thank you for sharing your experience
      </p>
      <p class="txt-center">This helps the community improve the on set experience for hair and makeup and drive impact.</p>

      <br />

      <div class="modal-footer d-flex justify-content-center">
        <a href="/" class="btn btn-secondary" data-modal="close">Back to BBR Support</a>
      </div>
    </div>
  </div>
</div>
