<%= render 'shared/back_link_section'%>

<section class="input-form-group">
  <div class="container">
    <div class="d-flex justify-content-center" id="share-exp-page">
      <div class="share-image-box-left">
        <%= image_tag 'card-big-img-experience.jpg', alt: 'experience page image' %>
      </div>
      <div class="share-red-box-right">
        <h2 class="heading heading-2 txt-primary txt-center">share an experience</h2>
          <br/>
        <div id="experience_form_area">
          <%= render 'experiences/experience_form' %>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="success_popup_area">
  <%= render "shared/thanks_for_sharing_experience" %>
</div>
