<%= render 'shared/back_link_section'%>

<section class="input-form-group">
  <div class="container">
    <div class="d-flex justify-content-center" id="support-page">
      <div class="support-image-box-left">
        <%= image_tag 'card-big-img-1.jpg', alt: 'Project support image' %>
      </div>

      <div class="support-box-right" id="support_form_area">
        <%= render 'project_supports/project_support_form' %>
      </div>
    </div>
  </div>
</section>

<div id="success_popup_area">
  <%= render "shared/request_success_pop_up" %>
</div>
