@font-face {
  font-family: 'CenturyGothicRegular';
  src: asset-url('CenturyGothicRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'SackersGothicStd';
  src: asset-url('SackersGothicStd-Medium.otf') format("truetype");
}
