.is-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-block {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-body {
  padding: 63px;
  max-width: 647px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 15px;
  position: relative;
  overflow: auto;
  margin: 0 auto;
}


.modal-footer {
  margin-top: 63px;

  .btn {
    margin-bottom: 17px;
  }
}

.modal-close-icon {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
  display: block;
  font-size: 28px;
}


.modal-body-dark {
  background-color: #FFA37C;
}

.modal-body-light {
  background-color: #F7F0E4;
}

.experience-modal-heading {
  color: #361312;
  margin-bottom: 30px;
}

.is-modal.success-request-pop-up {
  .success-request-img {
    max-width: 400px;
    margin: 10px auto;
  }

  .modal-footer {
    margin-top: 0;

    .btn {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  .modal-body {
    padding: 63px 33px 33px 33px;
    margin: 0 40px;

    .heading-1 {
      font-size: 44px;
    }

    .heading-2 {
      font-style: normal;
      font-weight: 900;
      font-size: 13px;
      line-height: 22px;
    }
  }

  .modal-close-icon {
    top: 10px;
    right: 10px;
  }

  input[type="submit"] {
    -webkit-appearance: none;
  }
}
