<footer>
  <div class="footer">
    <div class="container d-flex align-item-center">

      <div class="footer-left-block d-flex align-item-center">
        <div class="footer-logo">
          <%= image_tag 'bbr-footer.svg', alt: 'footer image' %>
        </div>
        <div class="footer-copy-right">
          © 2021 Black Beauty Roster
        </div>
      </div>

      <div class="footer-middle-block d-flex">
          <a class="footer-links" href="">Privacy Policy</a>
          <a class="footer-links" href="">Terms of Services</a>
      </div>

      <div class="footer-right-block">
        <div class="footer-icons d-flex align-item-center">
          <div class="footer-social-icons">
            <%= image_tag 'icon-insta.svg', alt: 'insta image' %>
          </div>
          <div class="footer-social-icons">
            <%= image_tag 'icon-youtube.svg', alt: 'youtube image' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
