<nav class="navigation">
  <div class="container">
    <div class="d-flex justify-content-between align-content-center align-item-center">
      <div class="nav-logo">
        <%= image_tag 'BBR-nav-logo.svg', alt: 'BBR-Logo' %>
      </div>

      <a href="" class="btn btn-primary">Contact Us</a>
    </div>
  </div>
</nav>
