<nav class="navigation">
  <div class="container">
    <div class="d-flex justify-content-between align-content-center align-item-center">
      <div class="nav-logo">
        <%= link_to root_url do %>
          <%= image_tag 'BBR-nav-logo.svg', alt: 'BBR-Logo', class: 'bbr-nav-logo' %>
        <% end %>
      </div>

      <a href="/" class="mobile-toogle">
        <%= image_tag 'toggle.svg', alt: 'toggle-menu' %>
      </a>
      <a href="mailto:admin@blackbeautyroster.com" class="btn btn-primary" id="m-nav-contact">Contact Us</a>
    </div>
  </div>
</nav>
